.header_table{
  background-color: rgb(2, 2, 2) !important;
  color: white;
  padding: 15px 15px;
  text-align: center;
  border-radius: 5px;
}
.header_table>div:nth-child(2) {
  border-right: 1px solid white;
  border-left: 1px solid white;
}
.header_table>div:last-child {
  border-right: none !;
}

@media(max-width: 578px){
  .header_table>div:nth-child(2),
  .header_table>div:nth-child(3){
    display: none;
  }
}